.header{
    background-color: #141f40;
    color: #fff;
    height: 100px;
}
.container{
    width: 400px;
    text-align: right;
    margin-left: 100px;
}
.main{
    display: flex;
}
.left{
    background-color: #80bfa8;
    height: 250px;
    width: 150px;
}
.right{
    /* display: flex; */
}
.r-upper{
    display: flex;
}
.yellow{
    background-color: #dbd400;
    width: 150px;
    height: 50px;
}
.sky-blue{
    background-color: #0093b7;
    width: 150px;
    height: 100px;
}
.orange{
    background-color: #ff9e6b;
    width: 100px;
    height: 150px;
}
.red{
    background-color: #8c2727;
    height: 100px;
}
.footer{
    height: 100px;
    background-color: #d98d30;
}

@media screen and (max-width: 767px){
    .container{
        width: 300px;
    }
    .left{
        width: 100px;
    }
    .yellow, .sky-blue{
        width: 125px;
    }
    .orange{
        width: 75px;
    }

}
@media screen and (max-width: 479px){
    .container{
        width: 150px;
    }
    .main{
        flex-direction: column;
    }
    .left{
        width: 150px;
    }
    .r-upper{
        flex-direction: column;
    }
    .yellow, .sky-blue{
        width: 150px;
    }
    .orange{
        width: 150px;
    }
    .r-right{
        order: 1;
    }
    .r-left{
        order: 2;
    }
}